body{
  background-color: rgb(211, 175, 84);
  color: black;
  font-weight: 600;
}
h1, h2, h3, h4{
  color: rgb(196, 7, 7);
  text-align: center;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: oblique;
}
.column{
  float: left;
  width: 20%;
  margin: 0px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.column2{
  float: left;
  width: 23%;
  margin: 0px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.nav{
  display: flex;
  position: absolute;
  width: 100%;
  overflow: auto;
  margin: 0px auto;
  padding: 0%;
}
.nav a{
  padding: 5px;
  width: 25%;
  text-align: center;
  float: left;
  text-decoration: none;
  color: white;
  background-color: rgb(196, 7, 7);
  font-size: 20px;
}
.nav a:hover{
  color: white;
  background-color: rgb(211, 175, 84);
}
.contacts{
  text-align: center;
}
