body{
  background-color: rgb(211, 175, 84);
  color: black;
  font-weight: 600;
}
h1{
  color: rgb(83, 5, 5);
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bolder;
  font-style: oblique;
}
h2, h3, h4{
  color: rgb(196, 7, 7);
  text-align: center;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 900;
  font-style: oblique;
}
h5{
  color: rgb(196, 7, 7);
  text-align: center;
  font-size: larger;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 700;
  font-style: italic;
}
.column{
  float: left;
  width: 20%;
  margin: 0px;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.column2{
  float: left;
  width: 23%;
  margin: 0px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 30px;
  margin-bottom: 30px;
}
#navbar{
  display: flex;
  position: absolute;
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  padding: 0%;
}
#navbar a{
  display: block;
  padding: 5px;
  width: 25%;
  text-align: center;
  float: left;
  text-decoration: none;
  color: white;
  background-color: rgb(196, 7, 7);
  font-size: 20px;
}
#navbar a:hover{
  color: white;
  background-color: rgb(211, 175, 84);
}

.content {
  padding: 16px;
}
.contacts{
  text-align: center;
}
.mySlides{
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.mySlides>img{
    border-radius: 8px;
}
img {
  border-radius: 50%;
}
.food {
  position: relative;
  width: 50%;
}

.food>img{
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(211, 175, 84);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.food:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  white-space: nowrap; 
  color: white;
  font-size: 20px;
  position: absolute;
  overflow: hidden;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.image:hover {
  transform: scaleX(-1);
}
#mc_embed_signup{
  background: rgb(173, 141, 72);
  width: 60%;
  margin-right: 20%;
  margin-left: 20%;
}
input{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background:transparent;
  color: white;

}
::-webkit-input-placeholder {
  background:transparent;
  color: white;
}
input[type=text],input[type=email],#comment{
  background: transparent;
  color: white;
  font-size: 15px;
  font-family:'Yanone Kaffeesatz', sans-serif;
}